.main {
    display: flex;
    gap: 2.5rem;
}

.main .card {
    background: rgb(250, 250, 250, .6);
    border-radius: 1rem;
    min-width: 35rem;
}

/* CONTACT INFO */
.contat-info {
    max-width: 40rem;
    height: 100%;
}

.contat-info .profile-ssnn-container {
    display: flex;
}

.contat-info .top,
.chat .top {
    height: 6rem;
    display: grid;
    place-items: center;
    border-bottom: .1rem solid var(--light-blue);
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--gray);
    letter-spacing: .1rem;
}

.contat-info .info {
    display: grid;
    place-items: center;
    padding: 3rem 0;
    text-align: center;
    letter-spacing: .1rem;
}

.contat-info .info img {
    border-radius: 50%;
    width: 15rem;
    border: 1.2rem solid var(--white);
    margin-bottom: 1.5rem;
    margin-right: 5rem;
}

.contat-info .name {
    font-size: 2.4rem;
    font-weight: 800;
}

.contat-info .rol {
    letter-spacing: .50rem;
    font-size: 1.4rem;
}

.social-networks {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 3rem;
    margin-right: 1rem;
}

.social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray);
    transition: var(--tran-04);
}

.social-container .sn-element {
    background: var(--white);
    border-radius: .8rem;
    font-size: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    display: grid;
    place-items: center;
    transition: var(--tran-04);
}

.social-container p {
    margin-top: .2rem;
    font-size: 1rem;
    font-weight: 500;
}

.social-container:hover {
    color: var(--secondary);
    cursor: pointer;
}

.social-container:hover .sn-element {
    background: var(--secondary);
    color: var(--white);
    /* font-size: 2.8rem; */
}

.contat-info .about,
.contat-info .skills {
    padding: 2rem 3rem;
    font-size: 1.5rem;
}

.info-title {
    font-weight: bold;
    margin-bottom: .5rem;
}

.divider {
    height: 1.2rem;
    width: 100%;
    background: var(--white);
}

.skills .skills-logos {
    margin: 1rem 0 1rem 0;
    min-height: 11rem;
}

/* CHAT */
.chat {
    width: 90rem;
}

.chat .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.5rem;
}

.chat .top .chat-contact-info {
    display: flex;
    align-items: center;
}

.chat .top .chat-contact-info img {
    width: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.chat .top .clear-chat-button {
    border: none;
    background: transparent;
    color: var(--light-secondary);
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .4rem;
    transition: var(--tran-04);
}

.chat .top .clear-chat-button:hover {
    color: var(--secondary);
}

.chat .top .about-me-button {
    border: none;
    background: var(--white);
    color: var(--secondary);
    cursor: pointer;
    border-radius: .4rem;
    transition: var(--tran-04);
    display: none;
}

.chat .top .about-me-button:hover {
    color: var(--secondary);
}

.chat .chat-conversation {
    background: rgb(254, 254, 254, 0.6);
    height: calc(100% - 14rem);
    max-height: 62rem;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    transition: var(--tran-04);
}

.chat .chat-conversation .message-bubble {
    background: var(--light-primary);
    color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem 0 0 0;
    position: relative;
    display: inline-block;
    max-width: 60rem;
    align-self: flex-start;
}

.chat .chat-conversation .message-bubble:nth-last-child(1) {
    margin-bottom: 5rem;
}

.chat .chat-conversation .message-bubble::before {
    content: " ";
    position: absolute;
    background-color: var(--light-primary);
    width: 1rem;
    height: 2rem;
    bottom: -.9rem;
    left: 3rem;
    transform: rotate(60deg);
    transition: var(--tran-04);
}

.chat .chat-conversation .message-bubble.viewer {
    background: var(--light-secondary);
    align-self: flex-end;
    color: var(--white);
}

.chat .chat-conversation .message-bubble.viewer::before {
    background-color: var(--light-secondary);
    right: 3rem;
    left: inherit;
    transform: rotate(120deg);
    transition: var(--tran-04);
}

.typing-loading {
    font-size: 1.2rem;
    font-weight: 400;
}

.chat .bottom {
    height: 8rem;
    display: grid;
    place-items: center;
    border-top: .1rem solid var(--light-blue);
    font-size: 1.8rem;
    display: flex;
    justify-content: space-around;
    transition: var(--tran-04);
}

.chat .bottom .input-bubble {
    position: relative;
    background: var(--white);
    border-radius: .5rem;
    padding: .5rem 1.8rem;
    letter-spacing: 0;
    color: var(--secondary);
    font-weight: 600;
    margin-bottom: .5rem;
    cursor: pointer;
    transition: var(--tran-04);
}

.chat .bottom .input-bubble::before {
    content: " ";
    position: absolute;
    background-color: var(--white);
    width: 1rem;
    height: 2rem;
    top: 65%;
    left: 86%;
    transform: rotate(50deg);
    transition: var(--tran-04);
}

.chat .bottom .input-bubble:hover {
    background: var(--secondary);
    color: var(--white);
}

.chat .bottom .input-bubble:hover::before {
    background: var(--secondary);
}

.chat .message-bubble .project-image {
    width: 100%;
    border-radius: .5rem;
    margin-bottom: 1rem;
}

.chat .message-bubble .project-button {
    border: none;
    width: 100%;
    height: 4rem;
    border-radius: .5rem;
    background: var(--white);
    color: var(--secondary);
    font-weight: 600;
    cursor: pointer;
    transition: var(--tran-04);
}

.chat .message-bubble .project-button:hover {
    background: var(--secondary);
    color: var(--white);
}

.chat .bottom .bottom-actions {
    display: none;
}

.chat .bottom .bottom-actions button {
    font-family: 'Montserrat';
    width: 19.5rem;
    margin: .5rem 0;
    border: none;
    padding: .5rem 3rem;
    border-radius: .5rem;
    background: var(--light-secondary);
    color: var(--white);
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0;
    cursor: pointer;
    transition: var(--tran-04);
}

.chat .bottom .bottom-actions button:hover {
    background: var(--white);
    color: var(--secondary);
}


.project-modal {
    position: absolute;
    background: var(--white);
    width: .1%;
    height: .1%;
    bottom: 8.4rem;
    left: 0;
    z-index: 2;
    border-radius: 1rem;
    transition: var(--tran-05);
    opacity: 0;
    overflow-y: scroll;
}

.project-modal .modal-content {
    display: none;
    opacity: 0;
    transform: var(--tran-05);
}

.project-modal.show {
    opacity: 1;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: none;
}

.project-modal.show .top {
    background: var(--light-gray);
}

.project-modal.show .top .modal-close-button {
    position: absolute;
    right: 2rem;
    border: none;
    background: transparent;
    color: var(--light-secondary);
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: .4rem;
    transition: var(--tran-04);
    font-size: 2.6rem;
}

.project-modal.show .modal-content {
    padding: 2rem 3rem;
    display: block;
    opacity: 1;
    height: 65rem;
    overflow: scroll;
}

.project-modal.show .modal-content .project-features {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.5rem;
    margin-left: 2rem;
    max-width: 70rem;

}

.project-modal.show .modal-content .project-features .feature {
    margin-top: 1.5rem;
}

.project-modal.show .modal-content .project-features .feature .feature-images {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.project-modal.show .modal-content .project-features .feature .feature-images img {
    width: 18rem;

}
.project-modal .project-image{
    width: 100%;
    margin-bottom: 1rem;
}

.project-modal.show::-webkit-scrollbar {
    width: 0;
}

.project-modal.show .modal-content::-webkit-scrollbar {
    width: 1rem;
}


/* Mobile Media Queries */

@media screen and (max-width: 83rem) {
    .main {
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    .contat-info,
    .clear-chat-button,
    .chat .bottom .input-bubble,
    .chat .bottom .bottom-actions .bottom-actions-open,
    .chat .bottom.open .bottom-actions .bottom-actions-close {
        display: none;
    }

    .chat {
        width: 90%;
        height: 85vh;
        margin-top: 2.5rem;
        position: fixed;
    }

    .chat .top {
        display: flex;
        padding: 0 3rem;
        justify-content: space-between;
    }

    .chat .top .about-me-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        color: var(--light-secondary);
    }

    .chat .chat-conversation.bottom-open {
        height: 30rem;
    }

    .chat .bottom.open {
        height: 30rem;
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
    }

    .chat .bottom.open .input-bubble {
        display: block;
    }

    .chat .bottom .input-bubble {
        width: 16rem;
        text-align: center;
    }

    .chat .bottom.open .bottom-actions {
        margin-bottom: 2rem;
    }

    .chat .bottom .bottom-actions,
    .chat .bottom .bottom-actions .bottom-actions-close {
        transition: var(--tran-05);
        display: block;
    }

    .chat .bottom.open .bottom-actions .bottom-actions-open {
        display: flex;
        flex-direction: column;
    }

    .project-modal.show .modal-content {
        padding: 2rem 3rem;
        display: block;
        opacity: 1;
        height: 59rem;
        overflow: scroll;
    }
}

/* @media screen and (width >= 1000rem) {
    .contat-info {
        display: none;
    }
}  */


@keyframes bouncing {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

.typing-loading {
    display: flex;
    align-items: center;
    color: var(--secondary);
}

.dot {
    width: .3rem;
    height: .3rem;
    background-color: var(--secondary);
    border-radius: 50%;
    margin: 0 5px;
    animation: bouncing 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
    animation-delay: 0.2s;
}

.dot:nth-child(3) {
    animation-delay: 0.4s;
}